.js-code-readonly {
    background: #ddd;
    white-space: pre-wrap;
}

.js-code-readonly,
.js-code {
    width: 100%;
    min-height: 300px;
    display: block;
    font-size: 16px;
    font-family: monospace;
    border: 1px solid #333;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.js-code-readonly .current {
    background: yellow;
}

#output .content {
    font-family: monospace;
    white-space: pre-wrap;
}

.memory-item {
    float: left;
    width: 30px;
    font-family: monospace;
    text-align: center;
    padding: 5px 0;
    line-height: 1;
    border: 1px solid transparent;
}

.memory-item:nth-child(16n + 1) {
    clear: left;
}

.memory-item__index {
    color: #aaa;
    font-size: 12px;
    margin-bottom: 2px;
}

.memory-item.selected {
    border: 1px solid #333;
    background: #eeeeee;
}